body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  overflow: scroll;
}

.card {
  background-color: #78cdbf;
  display: inline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
  padding: 21px;
  margin: 11px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  max-width: 300px;
  
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card h3 {
  margin: 20px;
  font-size: 1.5rem;
}

.card p {
  margin: 20px;
  font-size: 1rem;
}

.card .price {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.card button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
